<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INumberServices" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/DT.CodeExam.Services/NumberServices/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INumberServices"
                contract="NumberServices.INumberServices" name="BasicHttpBinding_INumberServices" />
        </client>
    </system.serviceModel>
</configuration>